@media screen and (min-width: 800px) {
    .pt-24{
       padding-top: 24px;
     }
   }
.button1{
  content: "";
  display: inline-block;
  position: absolute;
  width: 22px;
  height: 22px;
  border: 1px solid #D3CFC8;
  border-radius: 0;
  margin-left: 0px;
}

[class*=icheck-]>label {
  padding-left: 30px!important;
  min-height: 22px;
  line-height: 22px;
  display: inline-block;
  position: relative;
  vertical-align: top;
  margin-bottom: 0;
  font-weight: 400;
  cursor: pointer;
}
   